[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "scikit-build",
    "cmake>=3.16",
]

[metadata]
name = "pykokkos-base"
url = "http://github.com/kokkos/kokkos-python"
download_url = "http://github.com/kokkos/kokkos-python.git"
project_urls = "http://github.com/kokkos/kokkos-python.git"
author = "Jonathan R. Madsen"
author_email = "jrmadsen@lbl.gov"
maintainer = "Jonathan R. Madsen"
maintainer_email = "jrmadsen@lbl.gov"
license = "BSD 3-Clause License"
description = "Python bindings to Kokkos Views for data interop"
keywords = [
    "kokkos",
    "parallelism",
    "performance",
    "performance portability",
    "gpu",
    "cuda",
    "hip",
    "rocm",
    "hpx",
    "openmp",
    "openmptarget",
    "sycl",
    "serial",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: GPU",
    "Environment :: GPU :: NVIDIA CUDA",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "License :: OSI Approved :: BSD-3 License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Operating System :: POSIX :: BSD",
    "Operating System :: Unix",
    "Programming Language :: C++",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering",
]

[options]
packages = [
    "kokkos",
]
zip_safe = false
include_package_data = false
setup_requires = [
    "scikit-build",
    "cmake>=3.16",
]

[options.project_urls]
kokkos = "https://github.com/kokkos/kokkos"

[tool.black]
line-length = 88
target-version = ['py27', 'py35', 'py36', 'py37', 'py38']
include = '\.pyi?'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | pybind11
  | scripts
)/
'''
